/*#############
###  Geral  ###
#############*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 25px 0px 0px;
    padding-left: 11em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
    background-color: #D8DA3D;
}

.textjust {
    text-align: justify;
}

ul.navbar {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}

ul.navbar li {
    background-color: #fff;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #000;
}

ul.navbar a {
    text-decoration: none;
}

a:link {
    color: #00f;
}

a:visited {
    color: #aa00ff;
}

.desc {
    text-align: justify;
}

h1 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
}



/*####################
###  Minha cidade  ###
####################*/
.saopaulo {
    margin: 0px 0px 20px;
}

.citacao {
    border-left: 4px solid #3f3f3f75;
    padding: 0px 20px 0px;
    text-align: justify;
}



/*##############
###   Links  ###
##############*/
.linkcolec a{
    text-decoration: none;
}

.linkcolec p {
    padding: 5px 0px 15px;
}

.linkcolec img {
    width: 64px;
    height: 64px;
}